@font-face {
  font-family: 'RedHatDisplay';
  src: url("./../fonts/RedHatDisplay-Regular.ttf") format('truetype');
  font-weight: 400;
  font-style: normal;
  font-feature-settings: 'clig' off, 'liga' off;
}

@font-face {
  font-family: 'RedHatDisplay';
  src: url("./../fonts/RedHatDisplay-Medium.ttf") format('truetype');
  font-weight: 500;
  font-style: normal;
  font-feature-settings: 'clig' off, 'liga' off;
}

@font-face {
  font-family: 'Outfit';
  src: url("./../fonts/OutfitRegular.ttf") format('truetype');
  font-weight: 400;
  font-style: normal;
  font-feature-settings: 'clig' off, 'liga' off;
}

@font-face {
  font-family: 'Outfit';
  src: url("./../fonts/OutfitMedium.ttf") format('truetype');
  font-weight: 500;
  font-style: normal;
  font-feature-settings: 'clig' off, 'liga' off;
}

@font-face {
  font-family: 'Outfit';
  src: url("./../fonts/OutfitSemiBold.ttf") format('truetype');
  font-weight: 600;
  font-style: normal;
  font-feature-settings: 'clig' off, 'liga' off;
}

@font-face {
  font-family: 'Outfit';
  src: url("./../fonts/OutfitBold.ttf") format('truetype');
  font-weight: 700;
  font-style: normal;
  font-feature-settings: 'clig' off, 'liga' off;
}